<% layout("/layouts/boilerplate.ejs") %>

<div class="row">
  <h1 class="ps-0">Your Secure Link is Ready</h1>
  <p class="ps-0 text-secondary">This note will be destroyed once read.</p>
</div>
<div class="row">
  <input type="text" class="form-control bg-warning-subtle" value="" disabled />
  <div class="ps-0 form-text">Copy this link before leaving this page.</div>
</div>
<div class="row mt-5 p-0 d-flex justify-content-between">
  <span class="p-0 w-auto">
    <button class="btn btn-outline-secondary me-2">Select Link</button>
    <button class="btn btn-outline-secondary">E-mail Link</button>
  </span>
  <span class="p-0 w-auto">
    <button class="btn btn-warning">Destroy Note now</button>
  </span>
</div>
<br /><br /><br /><br />
<div class="row">
  <h2 class="ps-0">Custom Password</h2>
  <input
    type="password"
    class="form-control bg-warning-subtle"
    value="randompassword"
    disabled
  />
  <div class="ps-0 form-text">Copy this link before leaving this page.</div>
</div>
<div class="row mt-3 p-0 d-flex justify-content-between">
  <span class="p-0 w-auto">
    <button class="btn btn-outline-secondary me-2">Show Password</button>
    <button class="btn btn-outline-secondary me-2">Hide Password</button>
  </span>
</div>
